{% extends "navigation.html" %}
{% block content %}
<h4 class="text-center">Problem Statement-1</h4><hr>
<form id="firstplot">
    <label for="countries" class="mx-2">country</label>
    <select id="countries" name="country">
        <option selected="selected">--select--</option>
        {% for country in countries %}
            <option value="{{ country }}">{{ country }}</option>
        {% endfor %}
    </select>
    <label for="start" class="ml-4 mr-2">start year</label>
    <select id="start" name="start">
        {% for s in start %}
            <option value="{{ s }}">{{ s }}</option>
        {% endfor %}
    </select>
    <label for="end" class="ml-4 mr-2">end year</label>
    <select id="end" name="end">
        {% for e in end %}
            <option value="{{ e }}">{{ e }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="plot now" class="mx-4 btn-primary">
</form>
<div class="container">
    <div class="row">
        <div class="col card" id="plothere"></div>
    </div>
</div>
<script>
    document.getElementById('firstplot').addEventListener('submit', (e) => {
        e.preventDefault();
        const formdata = new FormData(e.target);
        var object = {}
        
        formdata.forEach(function(value, key){
            object[key] = value;
        });

        fetch("http://127.0.0.1:8000/first/", {
            method:"POST",
            body: JSON.stringify(object),
            contentType: 'application/json; charset=UTF-8'    
        })
        .then(response => response.json())
        .then(data => {
            let x_values = [];
            let y_values = [];
            for(let i in data){
                x_values.push(data[i].year)
                y_values.push(data[i].population)
            }
            var container = document.getElementById('plothere')

            window.chart = new Highcharts.Chart({
                chart: {
                    renderTo: container,
                    height: 450,
                    type: 'column'
                },
                title: {
                    text: 'Year vs Population'
                },
                xAxis: {
                    title: {
                        text: 'Year'
                    },
                    categories: x_values
                },
                yAxis: {
                    title: {
                        text: 'Population'
                    },
                },
                series: [{
                    name: "population",
                    data: y_values
                }]
            });
        });
    });
</script>
{% endblock %}