{% extends "navigation.html" %}
{% block content %}
<h4 class="text-center">Problem Statement-4</h1>
<form id="fourthplot">
    <label for="group">choose union</label>
        <select id="group" name="group">
            {% for g in groups %}
                <option value="{{ g }}">{{ g }}</option>
            {% endfor %}
        </select>
        <label for="start">start year</label>
        <select id="start" name="start">
            {% for s in start %}
                <option value="{{ s }}">{{ s }}</option>
            {% endfor %}
        </select>
        <label for="end">end year</label>
        <select id="end" name="end">
            {% for e in end %}
                <option value="{{ e }}">{{ e }}</option>
            {% endfor %}
        </select>
    <input type="submit" value="plot now" class="mx-2 btn-primary">
</form>
<div class="container">
    <div class="row">
        <div class="col card" id = "plothere"></div>
    </div>
</div>
<script>
    document.getElementById('fourthplot').addEventListener('submit', (e) => {
      e.preventDefault();
      const formdata = new FormData(e.target);
      var object = {}
      
      formdata.forEach(function(value, key){
          object[key] = value;
      });
      console.log(object)
      var output = document.getElementById('output');
      fetch("http://127.0.0.1:8000/fourth/", {
          method:"POST",
          body: JSON.stringify(object),
          contentType: 'application/json; charset=UTF-8'
          
      })
      .then(response => response.json())
      .then(data => {
        var map = dictionary(data)
            function dictionary(list) {
                var map = {};
                for (var i=0; i<list.length; i++){
                    var country = list[i].country;
                    if(!map[country])
                        map[country] = [];
                    map[country].push(list[i].population);
                }
                return map;
            }
            var x_values = [...new Set(data.map(item => item.year))];
            let y_values = [];
            
            
            console.log(x_values)

            for (let nation in map) {
                y_values.push({
                    name: nation,
                    data: map[nation]
                })   
            }
            var container = document.getElementById('plothere')

            window.chart = new Highcharts.Chart({
                chart: {
                    renderTo: container,
                    height: 400,
                    type: 'column'
                },
                title: {
                    text: 'Year vs Population grouped by countries'
                },
                xAxis: {
                    title: {
                        text: 'country'
                    },
                    categories: x_values
                },
                yAxis: {
                    title: {
                        text: 'Population'
                    },
                },
                series: y_values
            });            
                });
            });
      </script>

{% endblock %}