<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <title>djangoproject</title>
   </head>
   <body>
      <div class="container-fluid">
         <div class="row">
            <div class="col jumbotron text-center py-2">
               <h2>Un Population estimates</h2>
            </div>
         </div>
         <div class="row">
               {% block nav-content %}{% endblock %}
         </div>
      </div>
   </body>
</html>